*{
	box-sizing: border-box;
	font-family: "Maiandra GD";
	letter-spacing: 0.1em;
}

body{
	margin: 0px;
}

@font-face{ 
	font-family: "Maiandra GD";
	src: url('font/Maiandra GD.TTF');
}

.container{
	background-color: #f2f2f2;
	width: 100%;
	height: 100vh;
}

.tc{
	text-align: center;
}

.nav-logo{
	width: 250px;
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
}

.nav-btn{
	text-decoration: none;
	font-size: 30px;
	color: #333;
	display: block;
	padding-top: 20px;
	padding-left: 50px;
	outline: none;
}

.container-box{
	margin-top: 100px;
	width: 100%;
	display: flex;
}

.col{
	width: 50%;
}

.form-img{
	width: 300px;
	float: right;
	margin-right: 50px;
}

.form{
	color: #333;
	width: 280px;
	margin-left: 50px;
}

.form>label{
	display: block;
	font-size: 18px;
	padding-bottom: 5px;
}

.form>input{
	display: block;
	border: 1px solid #333;
	border-radius: 10px;
	padding: 8px 12px;
	margin-bottom: 20px;
	font-size: 16px;
	width: 100%;
	outline: none;
	color: #333;
}

.form>button{
	display: block;
	border: 1px solid #2bb24c;
	background-color: #2bb24c;
	color: #fff;
	padding: 5px 15px;
	font-size: 16px;
	border-radius: 10px;
	margin-top: 30px;
	outline: none;
	transition: ease 0.2s;
}

.form>button:hover{
	background-color: #fff;
	color: #2bb24c;
}

.form>a{
	display: block;
	color: #333;
	margin-top: 50px;
}

.form>a>span{
	display: block;
	color: #333;
	font-size: 13px;
	text-decoration: none;
}

.form-pre{
	width: 100%;
	padding-left: 150px;
	padding-right: 150px;
}

.form>.checkbox{
	display: none;
}

.form>.checkboxlabel{
	display: inline-block;
  	border: 2px solid #2bb24c;
  	border-radius: 10px;
  	width: 20%;
  	height: 150px;
  	background-color: #2bb24c;
  	padding-top: 60px;
  	text-align: center;
  	color: #fff;
  	margin: 6%;
  	margin-bottom: 0px;
  	transition: ease 0.3s;
}

.checkbox:checked + .checkboxlabel {
	background-color: #fff;
	color: #2bb24c;
	font-size: 16px;
}

.checkbox:checked + .checkboxlabel::before{
	content: '✔';
}

.form>.pre-btn{
	margin-top: 50px;
	margin-bottom: 50px;
	float: right;
	margin-right: 10%;
}

.pre-btn>.pre-btn1{
	border: 1px solid #333;
	padding: 5px 15px;
	font-size: 16px;
	border-radius: 10px;
	outline: none;
	color: #fff;
	transition: ease 0.2s;
	background-color: #333;
	display: inline-block;
	margin-right: 25px;
}

.pre-btn>.pre-btn1:hover{
	background-color: #fff;
	color: #333;
	border-color: #333;
}

.pre-btn>.pre-btn2{
	border: 1px solid #2bb24c;
	padding: 5px 15px;
	font-size: 16px;
	border-radius: 10px;
	outline: none;
	transition: ease 0.2s;
	background-color: #fff;
	color: #2bb24c;
	display: inline-block;
}

.pre-btn>.pre-btn2:hover{
	background-color: #2bb24c;
	color: #fff;
}

@media screen and (max-width: 1200px){
	.form-pre{
		padding-left: 100px;
		padding-right: 100px;
	}

	.form>.checkboxlabel{
		width: 22%;
	  	margin: 5%;
	  	margin-top: 50px;
	  	margin-bottom: 0px;
	}
}

@media screen and (max-width: 991px){
	.form>.checkboxlabel{
		width: 25%;
		font-size: 16px;
	  	margin: 3.5%;
	  	margin-top: 50px;
	  	margin-bottom: 0px;
	}

	.checkbox:checked + .checkboxlabel {
		font-size: 14px;
	}

}

@media screen and (max-width: 768px){
	.nav-btn{
		padding-left: 20px;
	}

	.container-box{
		margin-top: 70px;
	}

	.col{
		display: none;
	}

	.form{
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	.form-pre{
		padding-left: 80px;
		padding-right: 80px;
	}

	.form>.checkboxlabel{
		width: 30%;
	  	margin: 9%;
	  	margin-top: 50px;
	  	margin-bottom: 0px;
	}
}

@media screen and (max-width: 576px){
	.form-pre{
		padding-left: 20px;
		padding-right: 20px;
	}
}


@media screen and (max-width: 460px){
	.form-pre{
		padding-left: 20px;
		padding-right: 20px;
	}

	.form>.checkboxlabel{
		width: 45%;
	  	margin: 1.5%;
	  	margin-top: 25px;
	  	margin-bottom: 0px;
	}

}