$dark: #0C0C0E;
$white: #fff;
$bg-color: linear-gradient(90.03deg, #6130B2 0.19%, #EA5455 99.81%);
$gray: #767676;

@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

body {
    font-family: 'Outfit', sans-serif;
}

.navbar {
    background-color: $dark;

    .navbar-brand {
        height: 50px;
        width: auto;
    }

    .navbar-toggler{
        padding-right: 0px;
    }

    .nav-item {
        margin-left: 10px;
        margin-right: 10px;
        display: block;
        text-align: center;
    }

    .nav-link {
        display: inline-block;
        color: $white;
        text-transform: uppercase;
    }

    @media (max-width: 991.98px) {
        .offcanvas.offcanvas-end {
            background: linear-gradient(180deg, #6130B2 0%, #EA5455 100%);
            ;
        }

        .nav-link {
            margin-top: 20px;
        }
    }

    @media (max-width: 575.98px) {
        .offcanvas.offcanvas-end {
            width: 250px;
        }
    }

}

.ds-design {
    border: 2px solid;
    border-image-slice: 1;
    border-image-source: $bg-color;
    padding: 5px 10px;
    background-color: $dark;
}

.top-section {
    background-color: $dark;
    position: relative;
    z-index: 1;
    overflow: hidden;

    .hand-hey {
        animation-name: sayHello;
        animation-duration: 3.5s;
        animation-iteration-count: infinite;
        transform-origin: 20% 45%;
    }

    @keyframes sayHello {
        0% {
            transform: rotate(0.0deg)
        }

        10% {
            transform: rotate(14.0deg)
        }

        20% {
            transform: rotate(-8.0deg)
        }

        30% {
            transform: rotate(14.0deg)
        }

        40% {
            transform: rotate(-4.0deg)
        }

        50% {
            transform: rotate(10.0deg)
        }

        60% {
            transform: rotate(0.0deg)
        }

        100% {
            transform: rotate(0.0deg)
        }
    }

    .line-illustration {
        position: absolute;
        left: 0;
        top: 20px;
        z-index: -1;
    }

    .human-illustration {
        position: relative;
        height: 100%;

        svg {
            position: absolute;
            bottom: 0;
            right: 0;
            margin-right: 50px;
        }
    }

    .box-illustration {
        position: absolute;
        right: 0;
        top: 20px;
        z-index: -1;
    }

    .top-section-main {
        padding-top: 100px;
        padding-bottom: 100px;
        color: $white;

        .line1,
        .line2 {
            font-size: 40px;
            font-weight: bold;
            margin-bottom: 5px;
        }

        .line3 {
            font-size: 20px;
            margin-top: 25px;
        }
    }
}

.title {
    text-align: center;
    margin-top: 50px;
    color: $dark;

    &::after {
        content: '';
        width: 100px;
        height: 3px;
        border-radius: 5px;
        background: $bg-color;
        display: block;
        margin: 5px auto;
    }
}

.icon-box {
    margin-top: 50px;

    .icons {
        width: 40px;
        height: 40px;
        margin-right: 30px;
        margin-bottom: 30px;
    }
}

.about {
    margin-top: 50px;
    color: $dark;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;

    @media (max-width: 991.98px) {
        padding: 0px;
    }
}

.experience-card {
    margin-top: 10px;
    background-color: transparent;

    .card-body {
        padding: 0px;
        padding-left: 15px;
    }

    .card-text1,
    .card-text3 {
        color: $gray;
        font-size: 14px;
        margin-bottom: 5px;
    }

    .card-text2 {
        color: $dark;
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 5px;
    }
}

.project-card {
    background-color: transparent;
    text-decoration: none;
    color: $white;
    margin-top: 10px;


    img {
        width: 100%;
        height: 100%;
    }

    span {
        display: block;
        text-align: center;
        font-size: 15px;
        background-color: rgba(31, 31, 31, 0.95);
        padding: 8px 5px;
    }
}

.bg-illustration {
    background-image: url('./Images/illustration/bg-illustration.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.form-page {
    background-color: $dark;
    padding: 50px 0px;
    position: relative;
    z-index: 1;
    overflow: hidden;

    .illustration1 {
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;

        @media (max-width: 760px) {
            width: 100%;
        }
    }

    .illustration2 {
        position: absolute;
        right: 0;
        top: 0;
        transform: rotate(180deg);
        z-index: -1;

        @media (max-width: 760px) {
            display: none;
        }
    }

    form {
        width: 350px;
        margin: 0px auto;

        input,
        button {
            display: block;
            width: 100%;
            background-color: $dark;
            padding: 10px;
            margin: 15px 0px;
            color: $white;
        }

        textarea {
            display: block;
            width: 100%;
            height: 100px;
            background-color: $dark;
            padding: 10px;
            margin: 15px 0px;
            color: $white;
        }

        button {
            margin-top: 35px;
            background: $bg-color;
            color: $white;
        }

        @media (max-width: 575.98px) {
            width: 100%;
            padding-left: 25px;
            padding-right: 25px;
        }
    }
}