*{
	box-sizing: border-box;
}

.navbar{
	background-color: #121212;
}

.navbar-brand-logo{
	width: 200px;
	height: auto;
}

.navbar-search-box{
	width: 450px;
	height: 40px;
	background-color: #505050;
	border: none;
	outline: none;
	padding-left: 60px;
	padding-right: 30px;
	color: #fff;
}

.navbar-search-box::placeholder {
	color: #C5C5C5;
}

.nav-link{
	padding-left: 50px;
	font-size: 16px;
	color: #fff;
}

.nav-link:hover{
	color: #fff;
}

.mt-responsive{
	margin-top: 50px;
}

.head-txt{
	font-size: 20px;
	font-weight: bold;
	float: left;
}

.more{
	float: right;
	font-size: 14px;
	font-weight: bold;
	margin-top: 6px;
	background: -webkit-linear-gradient(#fe1d1d 0%, rgba(255, 19, 168, 0.66) 100%);
	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}

.song-box{
	width: 100%;
	overflow-x: scroll;
}

.song-box{
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

.song-box::-webkit-scrollbar{ 
    display: none;  /* Safari and Chrome */
}

.song-row{
	width: 1200px;
}

.song-col{
	width: 150px;
	margin-right: 50px;
	display: inline-block;
    float: left;
    text-decoration: none;
}

.song-img{
	width: 150px;
	height: 150px;
	border-radius: 10px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.16);
}

.song-name{
	font-size: 14px;
	margin-top: 10px;
	letter-spacing: 0.05em;
	color: #121212;
}

.footer-head{
	font-size: 16px;
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
}

.footer-content{
	font-size: 14px;
	color: #C5C5C5;
	letter-spacing: 0.05em;
	line-height: 25px;
}

.copyright{
	font-size: 14px;
	float: right;
	color: #C5C5C5;
	margin: 0px;
}

.breadcrumb-item a{
	font-size: 14px;
	text-decoration: none;
	color: #121212;
}

.song-name-page{
	font-size: 36px;
	color: #121212;
	font-weight: 600;
}

.btn{
	padding: 8px 20px;
	border: none;
	border-radius: 20px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.16);
	font-weight: 500;
	color: #121212;
	margin-right: 30px;
}

.music-box{
	width: 100%;
	background-color: #121212;
	border-radius: 12px 12px 0px 0px;
	box-shadow: 0px -10px 10px rgba(0, 0, 0, 0.16); 
	padding: 20px;
	position: fixed;
	bottom: 0px;
	left: 0px;
	overflow: visible;
	display: none;
}

.music-box-img{
	width: 70px;
	height: 70px;
	border-radius: 10px;
}

.music-play-btn, .music-vol-btn{
	border: none;
	background-color: transparent;
	outline: none;
}

.progress-bar {
  	background: #e4e4e4;
  	height: 5px;
  	width: 100%;
  	outline: none;
  	transition: linear-gradient(#fe1d1d 0%, rgba(255, 19, 168, 0.66) 100%) 450ms ease-in;
  	-webkit-appearance: none;
}

.progress-bar::-webkit-slider-thumb {
    width: 10px;
    -webkit-appearance: none;
    height: 5px;
    cursor: ew-resize;
    background: linear-gradient(to right, #fe1d1d 0%, rgba(255, 19, 168, 0.66) 100%);
}

.volume-bar{
	position: absolute;
	top: 0px;
	right: 10px;
	width: 150px;
}


@media screen and (max-width: 1200px){
}

@media screen and (max-width: 992px){
	.song-name-page{
		font-size: 25px;
	}

	.btn{
		margin-right: 20px;
	}
}

@media screen and (max-width: 768px){
	.song-name-page{
		margin-top: 20px;
	}

	.music-box-img{
		width: 50px;
		height: 50px;
		border-radius: 10px;
	}

	.volume-bar{
		top: -10px;
		width: 120px;
	}
}

@media screen and (max-width: 576px){
	.navbar-brand-logo{
		width: 180px;
		height: auto;
	}

	.head-txt{
		font-size: 16px;
	}

	.mt-responsive{
		margin-top: 25px;
	}

	.more{
		font-size: 12px;
		margin-top: 4px;
	}

	.copyright{
		float: unset;
		text-align: center;
		margin-top: 20px;
	}

	.song-name-page{
		font-size: 20px;
	}

	.btn{
		margin-right: 10px;
	}
}


@media screen and (max-width: 460px){
	.navbar-brand-logo{
		width: 150px;
		height: auto;
	}

	.song-col{
		width: 120px;
	}

	.song-img{
		width: 120px;
		height: 120px;
	}

	.music-play-btn>img{
		width: 36px;
		height: 36px;
		margin-left: -12px;
	}

	.music-vol-btn>img{
		width: 20px;
		height: 20px;
	}

	.music-play-time{
		font-size: 12px;
	}

	.volume-bar{
		top: -10px;
		width: 100px;
	}
}