*{
	box-sizing: border-box;
	font-family: "Maiandra GD";
	letter-spacing: 0.1em;
}

body{
	margin: 0px;
}

@font-face{ 
	font-family: "Maiandra GD";
	src: url('font/Maiandra GD.TTF');
}

.container{
	padding: 2% 5%;
}

.logo-name{
	font-size: 20px;
	font-weight: bold;
	color: #333;
}

.logo-name>span{
	color: #ff6b49;
}

.content{
	margin-top: 5%;
}

.search-image{
	display: block;
	margin: 10px auto;
	width: 50%;
}

.input-form{
	position: relative;
}

.search-form{
	display: block;
	margin: 50px auto;
	width: 500px;
}

.search-form>.input-form{
	width: 60%;
	display: inline-block;
}

.search-form>.input-form>input{
	width: 100%;
	padding: 5px 20px 5px 30px;
	border: 1px solid #333;
	border-radius: 5px;
	color: #333;
	font-size: 16px;
	outline: none;
}

.search-form>button{
	width: 38%;
	padding: 5px 20px;
	background-color: #ff6b49;
	color: #fff;
	border: 1px solid #ff6b49;
	border-radius: 5px;
	font-size: 16px;
}

.school-box{
	display: inline-grid;
	width: 22.4%;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 5px 5px 20px #9a9a9a;
	margin: 2% 1%;
	position: relative;
}

.school-img{
	width: 100%;
	height: auto;
}

.school-box-content{
	padding: 5%;
	padding-top: 0px;
}

.school-name{
	font-weight: bold;
	color: #333;
}

.school-location{
	font-size: 15px;
	color: #333;
}

.school-about{
	font-size: 15px;
	color: #757575;
}

.school-rating{
	position: absolute;
	top: 0px;
	right: 16px;
	color: #333;
	background-color: #e7ec43;
	padding: 5px;
	border-radius: 5px;
	font-weight: bold;
}

.sort-by{
	width: 100%;
	background-color: #ff6b49;
	margin-top: 5%; 
}

.sort-by>.head{
	display: inline-block;
	margin: 0px;
	padding: 11px 15px;
	background-color: #dfdfdf;
}

.sort-by>.content{
	display: inline-block;
	margin: 0px;
	padding: 10px 15px;
	color: #fff;
	border: 1px solid #ff6b49;
}

.sort-by>.active{
	background-color: #fff;
	color: #333;
}

.filter-btn{
	width: 50px;
	height: 50px;
	background-color: #fff;
	border-radius: 50%;
	border: 1px solid #000;
	position: fixed;
	bottom: 5%;
	right: 4%;
	color: #fff;
	outline: none;
}

.filter-btn>svg{
	width: 60%;
	padding-top: 15px;
}

.filter{
  	height: 100%;
  	width: 0; 
  	position: fixed; 
  	z-index: 1; 
  	top: 0;
  	right: 0;
  	background-color: #111;
  	overflow-x: hidden;
  	transition: ease 0.5s;
}

.filter>label{
	display: block;
	margin: 20px 0px;
	margin-bottom: 0px;
 	color: #818181;
	font-size: 14px;
	margin-left: 20px;
}

.filter>select{
	display: block;
	margin: 5px 0px;
	width: 200px;
	border: 1px solid #333;
	border-radius: 5px;
	padding: 5px 10px;
 	color: #818181;
 	background-color: transparent;
 	margin-left: 20px;
}

.filter>button{
	margin: 30px 0px;
	border: 1px solid #ff6b49;
	border-radius: 5px;
	padding: 5px 10px;
	background-color: #ff6b49;
	color: #fff;
	margin-left: 20px;
}

.filter>.closebtn{
  	position: absolute;
  	top: 0px;
  	right: 25px;
  	font-size: 36px;
  	margin-left: 50px;
  	background-color: transparent;
  	border: none;
  	color: #fff;
  	outline: none;
}

@media screen and (max-width: 1200px){
}

@media screen and (max-width: 991px){
	.school-box{
		width: 30.6%;
	}	
}

@media screen and (max-width: 768px){
	.search-image{
		width: 80%;
	}

	.search-form{
		width: 450px;
	}

	.search-form>.input-form{
		width: 100%;
	}

	.search-form>.input-form>input{
		width: 100%;
		font-size: 16px;
	}

	.search-form>button{
		width: 100%;
		margin: 10px 0px;
	}

	.school-box{
		width: 45%;
		margin: 5% 2%;
	}

	.filter-btn{
		bottom: 3%;
	}
}

@media screen and (max-width: 576px){
	.search-image{
		width: 90%;
	}	

	.search-form{
		width: 90%;
	}	

	.search-form>.input-form>input{
		font-size: 14px;
	}

	.search-form>button{
		font-size: 14px;
	}

	.school-box{
		width: 97%;
		margin: 5% 2%;
	}

	.sort-by>.head{
		display: block;
		text-align: center;
	}

	.sort-by>.content{
		text-align: center;
	}

}


@media screen and (max-width: 460px){
	.sort-by>.head, .sort-by>.content{
		font-size: 14px;
	}
}
